:root {
  --primary-color: #76ecbb;
  --secondary-color: #062c1c;
  --basic-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
  color: var(--basic-color);
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--primary-color);
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.text {
  margin-top: 30px;
  text-align: justify;
}

.text a {
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 1px 3px;
  border-radius: 5px;
}

.text a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: bold;
}

.text a:active {
  border: 2px solid var(--secondary-color);
}

.btn {
  cursor: pointer;
  border: none;
  display: inline-block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 16px;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn:active {
  transform: scale(0.98);
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
  letter-spacing: 1.5px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px var(--basic-color) solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: var(--basic-color);
}

.form-control input:focus,
.form-control input:valid {
  outline: none;
  border-bottom-color: var(--primary-color);
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: var(--primary-color);
  transform: translateY(-30px);
}

footer {
  margin-top: 30px;
}

footer a {
  color: var(--primary-color);
  text-decoration: none;
}
